main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#arrow-right {
    width: 25px;
    height: 25px;
}

.slide {
    display: none;
}

.active {
    display: inline-block;
}

.dots {
    display: flex;
    justify-content: center;
}

.dot {
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px;
}